.dashboard {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #FF6969;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .dashboard h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .dashboard p {
    margin: 5px 0;
  }
  